


$base-font-size : 16px
$fontFamily : "huninn",'Noto Sans TC','微軟正黑體','LiHei Pro Medium',Geneva,Verdana,sans-serif!important

$color: #573710
$bg-color:#FFD62E


@import "_normalize"
@import "../font/font-style.css"


@function vw($px,$base: 1920px)
  @return ($px / $base) * 100vw

=lgDevice
  @media screen and (min-width: 1920px)
    @content

=mdDevice
  @media screen and (max-width: 1580px)
    @content

=smDevice
  @media screen and (max-width: 1200px)
    @content

=pad
  @media screen and (max-width: 1070px)
    @content

=min-mdMobile
  @media screen and (min-width: 741px)
    @content
=mdMobile
  @media screen and (max-width: 740px)
    @content

=mobile
  @media screen and (max-width: 570px)
    @content

=smobile
  @media screen and (max-width: 360px)
    @content

section
  display: block
  position: relative

*:focus,*:active
  outline: none

img
  max-width: 100%
  display: block


#load-imgs
  overflow: hidden
  height: 0

body,html
  position: relative
  background: #FFD62E
  font-size: $base-font-size
  font-family: $fontFamily
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale
  overflow-x: hidden

html
  height: 100vh


+pad
  html.lock-body
    touch-action: none
    -ms-touch-action: none
    overflow: hidden
  
@media screen and (-webkit-min-device-pixel-ratio:0)
  select,
  textarea,
  input
    font-size: 16px
  
*,
*::before,
*::after
  box-sizing: border-box


.clearfix:after
  content: ""
  display: block
  clear: both


#header
  background: url(../images/bg.jpg) repeat center top
  padding-top: 30px

  +mdDevice
    .inner
      width: 90%

  +mdMobile
    padding-top: 60px


+min-mdMobile
  #mob-navis
    display: block !important
    opacity: 1  !important
    box-shadow: none  !important

  .mob-navi-box
    display: block !important
    opacity: 1 !important
    left: unset !important
    visibility: initial !important

+mdMobile
  .scroll
    overflow-y: scroll
    overflow-x: hidden
    height: 100%
    width: 100%
    -webkit-overflow-scrolling: touch

  #mob-navis
    display: none
    opacity: 0
    left: -40%
    box-shadow: 20px 0 20px rgba(black,.2)

    .inner
      padding-bottom: 100px

  // .navi
  //   margin-bottom: 100px
  #mob-navi
    position: fixed
    top: 30px
    right: 40px
    width: 30px
    height: 30px
    z-index: 7000
    cursor: pointer

    span
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 4px
      border-radius: 4px
      background-color: #573710
      transition: all .4s ease

      &:nth-child(1)
        top: 10px
      &:nth-child(2)
        top: 20px
      &:nth-child(3)
        top: 30px

    &.active span

      &:nth-child(1)
        top: 20px
        transform: rotate(45deg)
      &:nth-child(2)
        opacity: 0
      &:nth-child(3)
        top: 20px
        transform: rotate(-45deg)

  .mob-navi-box
    position: fixed
    top: 0
    left: -100%
    width: 100%
    bottom: 0
    z-index: 6900
    background: url(../images/bg.jpg) repeat center top

#header-bar
  position: relative
  z-index: 1000
  width: 100%
  height: 26px
  background-color: #FFD62E

  +mobile
    height: 18px

.navi
  display: grid
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr
  

  +mdMobile
    grid-template-columns: 1fr
    grid-template-row: 1fr
    min-width: 200px
    width: 40%
    height: auto
    margin-top: 50px
    margin-bottom: 50px
    margin-left: auto
    margin-right: auto

  a
    display: flex
    justify-content: center

    +mdMobile
      margin-bottom: 15px
      margin-top: 15px

  img
    display: inline-block

    +smDevice
      width: 80%

    +mdMobile
      width: auto
      max-width: 100%


.inner
  position: relative
  max-width: 1090px
  width: vw(1090px)
  box-sizing: border-box
  margin: 0 auto

  +smDevice
    width: 90%


.se-title
  max-width: 220px
  text-align: center
  margin: 0 auto 92px

  img
    transform: translateX(10%)

  +mdDevice
    margin-bottom: 50px

  +mdMobile
    width: 50%

  +mobile
    width: 80%

  +smobile
    width: 50%

.se-desc
  color: $color
  font-size: 24px
  line-height: 1.66

  +mdDevice
    font-size: 20px

  +smobile
    font-size: 16px

  p
    margin: 20px 0



.bg1
  background: url(../images/bg.jpg) repeat

.bg2
  background-color: $bg-color

.bg3
  background-color: #FBF2DC





#about
  padding-top: 107px
  padding-bottom: 80px
  position: relative
  z-index: 2

  .se-desc
    margin-left: -20px
    margin-right: -20px
    margin-bottom: 40px
    text-align: center

    +pad
      margin-left: 0
      margin-right: 0

  .time
    max-width: 585px
    width: vw(585px)
    margin: 0 auto

    +mdDevice
      width: 55%

    +pad
      width: 320px

    +smobile
      width: 100%
    


.bubble-tea
  position: relative
  z-index: 10
  margin-top: -30px
  img
    width: 100%


.se1-cha1
  position: absolute
  top: vw(-83px)
  left: vw(-295px)
  width:  vw( 413px)
  height: auto
  

  +smDevice
    left: 0
    

  +pad
    width: 30%
    top: -10%
    left: -10%
    width: 35%


.linkTo
  img
    transition: all .4s ease

  &:hover
    img
      transform: translateY(-10px) scale(1.05)



.se1-cha2
  position: absolute
  bottom: vw(-128px)
  right: vw(-320px)
  width: vw(258px)
  height: auto

  img
    animation: peoBubble 3s ease infinite alternate

  +smDevice
    bottom: -18%
    right: 0

  +pad
    width: 20%
    right: -5%
    bottom: auto
    top: 88%

  +mobile
    top: auto
    bottom: -10%

#area
  position: relative
  margin-top: vw( -30px)
  padding-top: vw(150px)
  padding-bottom: vw(100px)
  overflow: hidden
  z-index: 1

  +smobile
    padding-top: 70px

  .map
    max-width: 670px
    margin: 0 auto 40px

    +lgDevice
      max-width: 750px

  .map-content
    margin-bottom: 46px
    img
      width: 100%
 

.se2-cha1
  position: absolute
  top: 50%
  right: -10%
  width: vw(165px)
  height: auto

  +mdDevice
    display: none


.map-table
  display: grid
  grid-template-columns: 40% 30% 30%
  column-gap: 15px

  +mobile
    grid-template-columns: 1fr 
    grid-template-row: 1fr 1fr 1fr
    text-align: center
  span
    display: block
    color: $color
    font-size: 24px
    line-height: 1.66

    +mdDevice
      font-size: 20px

    +smobile
      font-size: 16px

    &:focus,&:link,&:active
      color: inherit


.line
  width: 100%
  height: 1px
  background: url(../images/line.svg) repeat-x 0 0
  margin: 60px 0

.google-map
  margin-left: vw(-62px)
  margin-right: vw(-62px)
  position: relative

  .iframe
    width: vw(1214px)
    height: auto
    margin: 0 auto

    +mdDevice
      width: 90%

#charactor
  position: relative
  margin-top: vw(100px)
  padding-bottom: vw(90px)

  +mdDevice
    padding-top: 100px

  .se-title
    max-width: 323px


.charactor-infor

  .desc
    color: #007AA7
    font-size: 24px
    line-height: 1.66
    text-align: center
    padding: 0 15px

    +mdDevice
      font-size: 20px

    +smobile
      font-size: 16px

.se-top
  position: absolute
  top: vw(-100px)
  left: 0
  width: 100%
  img
    width: 100%
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) infinite forwards

.se-bottom
  position: absolute
  bottom: vw(-100px)
  left: 0
  width: 100%
  img
    width: 100%


.charator-columns
  display: flex
  padding: 0 vw(80px)
  align-items: center

  +lgDevice
    padding: 0 80px

  +mobile
    display: block
    padding: 0

  .photo
    flex: 40%
    box-sizing: border-box

    +mobile
      flex: 100%
      text-align: center

    img
      margin-left: vw(-50px)

      +mobile
        margin-left: 10%
        display: inline-block

      +smobile
        margin-left: 0

  
  .name
    margin-bottom: 20px
  .infor
    flex: 60%
    box-sizing: border-box
  .desc
    text-align: left
    padding: 0
    color: $color
    
.charactor-infor.sorting
  overflow: hidden
  +mobile
    max-width: 600px
    margin: 0 auto
    overflow: hidden
  .line
    margin: 40px 0

  .row:nth-child(2n) .charator-columns
    .photo
      order: 2

      img
        margin-left: auto
        margin-right: vw(-60px)

        +mdMobile
          margin-left: 20%

        +mobile
          margin-right: 0
          margin-left: 0

        +smobile
          margin-left: 10px

        
          

    .infor
      order: 1
      padding-left: 0
      padding-right: 10%
      
#ticket
  padding-top: vw(220px)
  padding-bottom: vw(200px)

  +pad
    padding-top: 100px

  .ticket
    margin-left: vw(-225px)
    margin-right: vw(-225px)

    +smDevice
      margin-left: 0
      margin-right: 0

    .type-item
      +smobile
        margin-bottom: 20px

    .ticket-main
      width: 100%
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
      justify-content: center
      text-align: center
      column-gap: vw(30px)

      +pad
        grid-template-columns: 1fr 1fr
        grid-template-row: 1fr 1fr
        max-width: 800px
        margin: 0 auto

      +mobile
        display: block

      img
        display: inline-block
      
      
      .photo
        margin-bottom: 20px

        img
          margin-right: vw(-50px)
          +mdDevice
            width: 80%
            max-width: 270px

      .title
        margin-bottom: 20px
        text-align: center

        &.title1 img
          width: vw(255px)
          +lgDevice
            max-width: 255px
          +pad
            width: vw(255px,1070px)
          +mobile
            width: vw(255px,570px)

        &.title2 img
          width: vw(307px)
          +lgDevice
            max-width: 307px
          +pad
            width: vw(307px,1070px)
          +mobile
            width: vw(307px,570px)

        &.title3 img
          width: vw(307px)
          +lgDevice
            max-width: 307px
          +pad
            width: vw(307px,1070px)
          +mobile
            width: vw(307px,570px)

        &.title4 img
          width: vw(88px)
          +lgDevice
            max-width: 88px
          +pad
            width: vw(88px,1070px)
          +mobile
            width: vw(88px,570px)

      
      .desc
        color: #573710
        font-size: 20px

        +smobile
          font-size: 16px
          line-height: 1.5
          text-align: center
        +mdDevice
          max-width: 80%
          margin: 0 auto 50px


#access
  position: relative
  padding-top: 90px
  padding-bottom: 30px


.google-map
  position: relative
  margin-bottom: 43px

  .marker
    position: absolute
    top: 10%
    left: 42%
    width: vw(96px)
    z-index: 20

    +mdDevice
      top: 5%
      left: 43%
      width: 10%

.se5-cha1
  position: absolute
  bottom: vw(-24px)
  right: vw(64px)
  width: vw(224px)

  +pad
    display: none

.se5-cha2
  position: absolute
  bottom: vw(100px)
  right: vw(100px)
  width: vw(77px)

  +smDevice
    display: none

.se5-cha3
  position: absolute
  top: 10%
  left: -20%
  width: vw(333px)
  height: vw(228px)
  overflow: hidden

  +pad
    top: -30%
    left: 0

  img
    visibility: hidden

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: vw(1665px)
    height: 100%
    background: url(../images/se5-cha3-steps.svg) no-repeat 0 0
    background-size: vw(1665px) auto
    animation: tick-tock 4s steps(5, end) infinite


@keyframes tick-tock
  to
    transform: translateX(vw(-1665px))

.location-infor
  position: relative
  max-width: vw(585px)
  margin: 0 auto
  text-align: center

  img
    display: inline-block

  +mdDevice
    min-width: 320px

  span
    color: black
    font-size: 24px
    line-height: 1.66
    display: block
    position: absolute
    top: vw(63px)
    left: vw(200px)
    text-align: center

    +mdDevice
      position: relative
      top: auto
      left: auto
      font-size: 20px

    +smobile
      font-size: 16px



.traffic
  position: relative
  display: grid
  grid-template-columns:  1fr 1fr
  column-gap: 10px

  +mdDevice
    grid-template-columns:  1fr
    grid-template-row:  1fr 1fr


  >.col
    position: relative


  .group
    margin: 60px 0
    padding: 0 15px
    box-sizing: border-box

    +mdDevice
      margin: 30px 0

    &+.group
      margin-top: 100px

      +mdDevice
        margin-top: 50px

    .line
      margin: 30px 0

    p
      color: #573710
      font-size: 20px

      +smobile
        font-size: 16px
        line-height: 1.66

    b
      font-weight: normal
      color: #007AA7


  .group-title
    margin-bottom: 20px
    text-align: center

    img
      display: inline-block

  .list-table--title
    color: #007AA7
    font-size: 20px

    +smobile
      font-size: 16px
      line-height: 1.66

  .list-table
    margin: 20px 0
    .list-table--row
      display: flex
      color: #573710
      font-size: 20px

      +smobile
        font-size: 16px
        line-height: 1.66

      +mobile
        display: block

      b
        font-weight: normal
        color: #007AA7


    

    .col
      flex: auto
      text-align: left
      

      &:nth-child(1)
        min-width: 150px
        max-width: 150px


        &.lg
          min-width: 170px
          max-width: 170px


#clients
  padding-top: 70px
  padding-bottom: 60px
  background-color: #fff

  +pad
    padding-top: 50px
    padding-bottom: 30px
  
.clients-table
  display: flex
  align-items: center
  justify-content: flex-end

  +pad
    display: block

  h3
    color: #573710
    font-size: 20px
    border: 1px solid #573710
    border-radius: 42px
    line-height: 42px
    width: 100%
    max-width: 133px

    +pad
      margin-bottom: 20px
      margin-left: auto
      margin-right: auto

    +smobile
      font-size: 16px
      line-height: 44px

  

  .item
    flex: 1
    text-align: center
    padding: 0 15px

    +pad
      flex: 100%

      a
        display: block
        width: 100%

    &:nth-child(1)
      max-width: 150px

      +pad
        max-width: 100%




.logo
  display: inline-grid
  width: 100%
  grid-template-columns: 24% 30% 24% 22%
  justify-items: center
  align-items: center
  column-gap: 10px

  +pad
    grid-template-columns: 1fr 1fr
    grid-template-row: 1fr 1fr
    row-gap: 30px

  a
    display: inline-block
    vertical-align: middle

    +pad
      margin: 10px 0

  img
    display: block

    +pad
      margin: 0 auto



#footer
  width: 100%
  padding: 35px 0 20px
  background-color: #FFD62E
  text-align: center


  p.copyright
    color: #573710
    font-size: 24px
    line-height: 1.66

    +mdDevice
      font-size: 20px

    +smobile
      font-size: 16px




#kv
  position: relative
  background: url(../images/bg.jpg) repeat 0 0
  padding-top: 22px
  min-height: vw(900px)
  overflow: hidden


  .inner
    position: relative
    height: vw(900px)
    z-index: 20

    +smDevice
      width: vw(1000px)
      height: vw(850px,1000px)
    
    +mobile
      height: vw(600px,570px)

  .kv-bg
    position: absolute
    top: vw(22px)
    left: vw(140px)
    right: vw(140px)
    bottom: 0
    background-color: #FFD62E
    background-image: url(../images/kv-bg-mask.png)
    background-repeat: repeat
    background-size: cover
    z-index: 1

    +mobile
      background-size: 1200px auto


  
  .kv-bottom-grass
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    z-index: 2

    img
      width: 100%
    

  .kv-slogan
    position: absolute
    top: vw(85px)
    left: 0
    width: vw(444px)
    z-index: 10

    img
      width: 100%

    +smDevice
      left: 50%
      transform: translateX(-50%)
      width: vw(800px)

    +mobile
      top: 5%
      width: 100%

  .kv-slogan-txt
    position: absolute
    top: vw(328px)
    left: vw(28px)
    width: vw(385px)
    img
      width: 100%

    +smDevice
      top: vw(250px,1000px)
      left: 50%
      transform: translateX(-50%)
      width: vw(800px)

    +mobile
      top: 32%
      width: 120%

  .kv-peo
    position: absolute
    bottom: vw(50px)
    right: vw(-69px)
    width: vw(568px)
    max-width: 568px
    z-index: 50

    img
      animation: kvCha 3s ease infinite forwards
      transform-origin: bottom center

  .kv-cha1
    position: absolute
    bottom: vw(87px)
    right: vw(-185px)
    width: vw(195px)

    .kvPeo1
      animation: kvCha1 3s ease infinite forwards
      animation-delay: 1s
      transform-origin: bottom center

  .kv-cha2
    position: absolute
    bottom: vw(110px)
    left: 50%
    margin-left: vw(40px)
    width: vw(170px)

    .kvPeo2
      animation: kvCha2 3s ease infinite forwards
      transform-origin: bottom center

    .shadow
      animation: kvChaShadow 3s ease infinite forwards
      

  .kv-cha3
    position: absolute
    bottom: vw(25px)
    left: vw(-138px)
    width: vw(277px)
  .kv-cha4
    position: absolute
    bottom: vw(215px)
    left: 0
    width: vw(416px)
    transform-origin: right bottom

    img
      animation: kvCha4 5s ease infinite

  .kv-cha5
    position: absolute
    bottom: vw(334px)
    left: vw(-220px)
    width: vw(136px)


@keyframes kvCha1
  0% 
    transform:  translate(0px,0px)
  
  18% 
    transform:  translate(0px,-20px)
  
  44% 
    transform:  translate(0px,0px)
  
  50% 
    transform:  translate(0px,-2px)

  55% 
    transform:  translate(0px,0)

  55% 
    transform:  translate(0px,-2px)
  
  66%,100%
    transform:  translate(0px,0px)


@keyframes kvCha2
  0% 
    transform:  translate(0px,0px)
  
  18% 
    transform:  translate(0px,-50px)
  
  44% 
    transform:  translate(0px,0px)
  
  50% 
    transform:  translate(0px,-2px)

  55% 
    transform:  translate(0px,0)

  55% 
    transform:  translate(0px,-2px)
  
  66%,100%
    transform:  translate(0px,0px)  


@keyframes kvCha
  0%,100%
    transform:  translateY(0)
  
  18% 
    transform:  translateY(-5px)



@keyframes kvCha4
  0%,30%,100%
    transform:  translateX(0)
  
  18% 
    transform:  translateX(-5px)
    filter: saturate(120%)
  
@keyframes kvChaShadow
  0%,40%,70%
    transform:  scale(1)
  
  30% ,60%
    transform:  scale(0.98)


@keyframes eyeAniamtion
  0%,100%
    transform:  scaleY(1)
  
  18% 
    transform:  scaleY(0.9)


.kv-hidden
  visibility: hidden


.kv-animation
  svg
    position: absolute
    top: 0
    left: 0
    overflow: initial
    width: 100%
    height: 100%

#fix-btns
  position: fixed
  top: vw(80px)
  right: vw(30px)
  width: vw(244px)
  z-index: 200

  +mdDevice
    top: 150px
    right: 0px
    width: 180px

  +mobile
    top: unset
    bottom: 30px
    width: 120px

  a
    display: block
    width: 100%
    animation: lightOut .8s ease forwards

  
    &:hover
      img
        animation: light .8s ease infinite alternate









#loading
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-color: #FFD62E
  z-index: 999999999

  .content
    position: absolute
    top: 50%
    left: 50%
    margin-left: -75px
    transform: translateY(-60%)
    width: 150px
    height: auto

    img
      margin-bottom: 20px

  span
    font-size: 20px
    text-align: center
    display: block


@keyframes light
  0%
    filter: saturate(100%)
    transform: scale(1)

  100%
    filter: saturate(150%)
    transform: scale(1.06)

@keyframes lightOut
  to
    filter: saturate(100%)
    transform: scale(1)



.bubble-tea
  position: relative
  &:before
    display: block
    content: ""
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 200%
    height: 100%
    background: url(../images/se1-bubble-tea.svg) repeat-x 0 0
    background-size: contain
    z-index: 1

  .size
    position: relative
    z-index: -1
    visibility: hidden

.bubble
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10


.bubble-item
  animation: bubbleWave 2s linear infinite alternate

  @for $i from 1 through 10
    &:nth-child(#{$i})
      animation-delay: $i * 100ms


@keyframes wave
  0% 
    transform: translateX(-50%)
  50% 
    transform: translateX(-48%)
  100% 
    transform: translateX(-50%)


@keyframes peoBubble
  0% 
    transform: translateY(0)
  50% 
    transform: translateY(10%)
  100% 
    transform: translateY(0)


@keyframes bubbleWave
  0% 
    transform: translateY(0) scale(1)
  50% 
    transform: translateY(-20px) scale(1.01)
  100% 
    transform: translateY(0) scale(1)
    


#modal-ticket
  max-width: 1640px
  width: 85%
  display: none

  +mobile
    width: 80%
  

.modal-content
  padding: vw(60px)
  background-color: #FFD62E

  +smDevice
    padding: 40px

  +pad
    padding: 30px


  
  
  .modal-main
    display: flex
    align-items: center
    background-color: #fff
    padding: 50px
    min-height: 50vh
    box-sizing: border-box

    +smDevice
      padding-bottom: 100px

    +mobile
      min-height: 200px

.ticket-group
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  align-items: center
  column-gap: 60px
  max-width: 90%
  margin: 0 auto

  +pad
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    row-gap: 60px
    width: 100%
    max-width: 100%

  +mobile
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr
    width: 100%
    max-width: 90%


  a
    display: block
    position: relative
    padding-bottom: 120px
    padding-top: 100px
    text-align: center
    img
      display: inline-block

    +pad
      padding-top: 50px
      padding-bottom: 50px

    +mobile
      padding-top: 0
      padding-bottom: 0
    .hover
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%) scale(0)
      width: 90%
      max-width: 120px
      opacity: 0
      transition: all .5s ease

      +pad
        bottom: -20px
        width: 100px

      +mobile
        display: none

    &:hover .hover
      transform: translateX(-50%) scale(1)
      opacity: 1
