@charset "UTF-8";
@import "../font/font-style.css";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #573710;
}
a:hover {
  color: #573710;
}

a:focus, a:hover {
  color: transparent;
  text-decoration: none;
}

section {
  display: block;
  position: relative;
}

*:focus, *:active {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

#load-imgs {
  overflow: hidden;
  height: 0;
}

body, html {
  position: relative;
  background: #FFD62E;
  font-size: 16px;
  font-family: "huninn", "Noto Sans TC", "微軟正黑體", "LiHei Pro Medium", Geneva, Verdana, sans-serif !important;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  height: 100vh;
}

@media screen and (max-width: 1070px) {
  html.lock-body {
    touch-action: none;
    -ms-touch-action: none;
    overflow: hidden;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
textarea,
input {
    font-size: 16px;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#header {
  background: url(../images/bg.jpg) repeat center top;
  padding-top: 30px;
}
@media screen and (max-width: 1580px) {
  #header .inner {
    width: 90%;
  }
}
@media screen and (max-width: 740px) {
  #header {
    padding-top: 60px;
  }
}

@media screen and (min-width: 741px) {
  #mob-navis {
    display: block !important;
    opacity: 1 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }

  .mob-navi-box {
    display: block !important;
    opacity: 1 !important;
    left: unset !important;
    visibility: initial !important;
  }
}
@media screen and (max-width: 740px) {
  .scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  #mob-navis {
    display: none;
    opacity: 0;
    left: -40%;
    -webkit-box-shadow: 20px 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 20px 0 20px rgba(0, 0, 0, 0.2);
  }
  #mob-navis .inner {
    padding-bottom: 100px;
  }

  #mob-navi {
    position: fixed;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 30px;
    z-index: 7000;
    cursor: pointer;
  }
  #mob-navi span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #573710;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #mob-navi span:nth-child(1) {
    top: 10px;
  }
  #mob-navi span:nth-child(2) {
    top: 20px;
  }
  #mob-navi span:nth-child(3) {
    top: 30px;
  }
  #mob-navi.active span:nth-child(1) {
    top: 20px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #mob-navi.active span:nth-child(2) {
    opacity: 0;
  }
  #mob-navi.active span:nth-child(3) {
    top: 20px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .mob-navi-box {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 6900;
    background: url(../images/bg.jpg) repeat center top;
  }
}
#header-bar {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 26px;
  background-color: #FFD62E;
}
@media screen and (max-width: 570px) {
  #header-bar {
    height: 18px;
  }
}

.navi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1.5fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
}
@media screen and (max-width: 740px) {
  .navi {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-row: 1fr;
    min-width: 200px;
    width: 40%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
.navi a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 740px) {
  .navi a {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
.navi img {
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  .navi img {
    width: 80%;
  }
}
@media screen and (max-width: 740px) {
  .navi img {
    width: auto;
    max-width: 100%;
  }
}

.inner {
  position: relative;
  max-width: 1090px;
  width: 56.7708333333vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .inner {
    width: 90%;
  }
}

.se-title {
  max-width: 220px;
  text-align: center;
  margin: 0 auto 92px;
}
.se-title img {
  -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
}
@media screen and (max-width: 1580px) {
  .se-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 740px) {
  .se-title {
    width: 50%;
  }
}
@media screen and (max-width: 570px) {
  .se-title {
    width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .se-title {
    width: 50%;
  }
}

.se-desc {
  color: #573710;
  font-size: 24px;
  line-height: 1.66;
}
@media screen and (max-width: 1580px) {
  .se-desc {
    font-size: 20px;
  }
}
@media screen and (max-width: 360px) {
  .se-desc {
    font-size: 16px;
  }
}
.se-desc p {
  margin: 20px 0;
}

.bg1 {
  background: url(../images/bg.jpg) repeat;
}

.bg2 {
  background-color: #FFD62E;
}

.bg3 {
  background-color: #FBF2DC;
}

#about {
  padding-top: 107px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
}
#about .se-desc {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 1070px) {
  #about .se-desc {
    margin-left: 0;
    margin-right: 0;
  }
}
#about .time {
  max-width: 585px;
  width: 30.46875vw;
  margin: 0 auto;
}
@media screen and (max-width: 1580px) {
  #about .time {
    width: 55%;
  }
}
@media screen and (max-width: 1070px) {
  #about .time {
    width: 320px;
  }
}
@media screen and (max-width: 360px) {
  #about .time {
    width: 100%;
  }
}

.bubble-tea {
  position: relative;
  z-index: 10;
  margin-top: -30px;
}
.bubble-tea img {
  width: 100%;
}

.se1-cha1 {
  position: absolute;
  top: -4.3229166667vw;
  left: -15.3645833333vw;
  width: 21.5104166667vw;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .se1-cha1 {
    left: 0;
  }
}
@media screen and (max-width: 1070px) {
  .se1-cha1 {
    width: 30%;
    top: -10%;
    left: -10%;
    width: 35%;
  }
}

.linkTo img {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.linkTo:hover img {
  -webkit-transform: translateY(-10px) scale(1.05);
      -ms-transform: translateY(-10px) scale(1.05);
          transform: translateY(-10px) scale(1.05);
}

.se1-cha2 {
  position: absolute;
  bottom: -6.6666666667vw;
  right: -16.6666666667vw;
  width: 13.4375vw;
  height: auto;
}
.se1-cha2 img {
  -webkit-animation: peoBubble 3s ease infinite alternate;
          animation: peoBubble 3s ease infinite alternate;
}
@media screen and (max-width: 1200px) {
  .se1-cha2 {
    bottom: -18%;
    right: 0;
  }
}
@media screen and (max-width: 1070px) {
  .se1-cha2 {
    width: 20%;
    right: -5%;
    bottom: auto;
    top: 88%;
  }
}
@media screen and (max-width: 570px) {
  .se1-cha2 {
    top: auto;
    bottom: -10%;
  }
}

#area {
  position: relative;
  margin-top: -1.5625vw;
  padding-top: 7.8125vw;
  padding-bottom: 5.2083333333vw;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 360px) {
  #area {
    padding-top: 70px;
  }
}
#area .map {
  max-width: 670px;
  margin: 0 auto 40px;
}
@media screen and (min-width: 1920px) {
  #area .map {
    max-width: 750px;
  }
}
#area .map-content {
  margin-bottom: 46px;
}
#area .map-content img {
  width: 100%;
}

.se2-cha1 {
  position: absolute;
  top: 50%;
  right: -10%;
  width: 8.59375vw;
  height: auto;
}
@media screen and (max-width: 1580px) {
  .se2-cha1 {
    display: none;
  }
}

.map-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 15px 30% 15px 30%;
  grid-template-columns: 40% 30% 30%;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
@media screen and (max-width: 570px) {
  .map-table {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-row: 1fr 1fr 1fr;
    text-align: center;
  }
}
.map-table span {
  display: block;
  color: #573710;
  font-size: 24px;
  line-height: 1.66;
}
@media screen and (max-width: 1580px) {
  .map-table span {
    font-size: 20px;
  }
}
@media screen and (max-width: 360px) {
  .map-table span {
    font-size: 16px;
  }
}
.map-table span:focus, .map-table span:link, .map-table span:active {
  color: inherit;
}

.line {
  width: 100%;
  height: 1px;
  background: url(../images/line.svg) repeat-x 0 0;
  margin: 60px 0;
}

.google-map {
  margin-left: -3.2291666667vw;
  margin-right: -3.2291666667vw;
  position: relative;
}
.google-map .iframe {
  width: 63.2291666667vw;
  height: auto;
  margin: 0 auto;
}
@media screen and (max-width: 1580px) {
  .google-map .iframe {
    width: 90%;
  }
}

#charactor {
  position: relative;
  margin-top: 5.2083333333vw;
  padding-bottom: 4.6875vw;
}
@media screen and (max-width: 1580px) {
  #charactor {
    padding-top: 100px;
  }
}
#charactor .se-title {
  max-width: 323px;
}

.charactor-infor .desc {
  color: #007AA7;
  font-size: 24px;
  line-height: 1.66;
  text-align: center;
  padding: 0 15px;
}
@media screen and (max-width: 1580px) {
  .charactor-infor .desc {
    font-size: 20px;
  }
}
@media screen and (max-width: 360px) {
  .charactor-infor .desc {
    font-size: 16px;
  }
}

.se-top {
  position: absolute;
  top: -5.2083333333vw;
  left: 0;
  width: 100%;
}
.se-top img {
  width: 100%;
  -webkit-animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) infinite forwards;
          animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) infinite forwards;
}

.se-bottom {
  position: absolute;
  bottom: -5.2083333333vw;
  left: 0;
  width: 100%;
}
.se-bottom img {
  width: 100%;
}

.charator-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4.1666666667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1920px) {
  .charator-columns {
    padding: 0 80px;
  }
}
@media screen and (max-width: 570px) {
  .charator-columns {
    display: block;
    padding: 0;
  }
}
.charator-columns .photo {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 570px) {
  .charator-columns .photo {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    text-align: center;
  }
}
.charator-columns .photo img {
  margin-left: -2.6041666667vw;
}
@media screen and (max-width: 570px) {
  .charator-columns .photo img {
    margin-left: 10%;
    display: inline-block;
  }
}
@media screen and (max-width: 360px) {
  .charator-columns .photo img {
    margin-left: 0;
  }
}
.charator-columns .name {
  margin-bottom: 20px;
}
.charator-columns .infor {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.charator-columns .desc {
  text-align: left;
  padding: 0;
  color: #573710;
}

.charactor-infor.sorting {
  overflow: hidden;
}
@media screen and (max-width: 570px) {
  .charactor-infor.sorting {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
}
.charactor-infor.sorting .line {
  margin: 40px 0;
}
.charactor-infor.sorting .row:nth-child(2n) .charator-columns .photo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.charactor-infor.sorting .row:nth-child(2n) .charator-columns .photo img {
  margin-left: auto;
  margin-right: -3.125vw;
}
@media screen and (max-width: 740px) {
  .charactor-infor.sorting .row:nth-child(2n) .charator-columns .photo img {
    margin-left: 20%;
  }
}
@media screen and (max-width: 570px) {
  .charactor-infor.sorting .row:nth-child(2n) .charator-columns .photo img {
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 360px) {
  .charactor-infor.sorting .row:nth-child(2n) .charator-columns .photo img {
    margin-left: 10px;
  }
}
.charactor-infor.sorting .row:nth-child(2n) .charator-columns .infor {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 0;
  padding-right: 10%;
}

#ticket {
  padding-top: 11.4583333333vw;
  padding-bottom: 10.4166666667vw;
}
@media screen and (max-width: 1070px) {
  #ticket {
    padding-top: 100px;
  }
}
#ticket .ticket {
  margin-left: -11.71875vw;
  margin-right: -11.71875vw;
}
@media screen and (max-width: 1200px) {
  #ticket .ticket {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 360px) {
  #ticket .ticket .type-item {
    margin-bottom: 20px;
  }
}
#ticket .ticket .ticket-main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5625vw 1fr 1.5625vw 1fr 1.5625vw 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-column-gap: 1.5625vw;
     -moz-column-gap: 1.5625vw;
          column-gap: 1.5625vw;
}
@media screen and (max-width: 1070px) {
  #ticket .ticket .ticket-main {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-row: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 570px) {
  #ticket .ticket .ticket-main {
    display: block;
  }
}
#ticket .ticket .ticket-main img {
  display: inline-block;
}
#ticket .ticket .ticket-main .photo {
  margin-bottom: 20px;
}
#ticket .ticket .ticket-main .photo img {
  margin-right: -2.6041666667vw;
}
@media screen and (max-width: 1580px) {
  #ticket .ticket .ticket-main .photo img {
    width: 80%;
    max-width: 270px;
  }
}
#ticket .ticket .ticket-main .title {
  margin-bottom: 20px;
  text-align: center;
}
#ticket .ticket .ticket-main .title.title1 img {
  width: 13.28125vw;
}
@media screen and (min-width: 1920px) {
  #ticket .ticket .ticket-main .title.title1 img {
    max-width: 255px;
  }
}
@media screen and (max-width: 1070px) {
  #ticket .ticket .ticket-main .title.title1 img {
    width: 23.8317757009vw;
  }
}
@media screen and (max-width: 570px) {
  #ticket .ticket .ticket-main .title.title1 img {
    width: 44.7368421053vw;
  }
}
#ticket .ticket .ticket-main .title.title2 img {
  width: 15.9895833333vw;
}
@media screen and (min-width: 1920px) {
  #ticket .ticket .ticket-main .title.title2 img {
    max-width: 307px;
  }
}
@media screen and (max-width: 1070px) {
  #ticket .ticket .ticket-main .title.title2 img {
    width: 28.691588785vw;
  }
}
@media screen and (max-width: 570px) {
  #ticket .ticket .ticket-main .title.title2 img {
    width: 53.8596491228vw;
  }
}
#ticket .ticket .ticket-main .title.title3 img {
  width: 15.9895833333vw;
}
@media screen and (min-width: 1920px) {
  #ticket .ticket .ticket-main .title.title3 img {
    max-width: 307px;
  }
}
@media screen and (max-width: 1070px) {
  #ticket .ticket .ticket-main .title.title3 img {
    width: 28.691588785vw;
  }
}
@media screen and (max-width: 570px) {
  #ticket .ticket .ticket-main .title.title3 img {
    width: 53.8596491228vw;
  }
}
#ticket .ticket .ticket-main .title.title4 img {
  width: 4.5833333333vw;
}
@media screen and (min-width: 1920px) {
  #ticket .ticket .ticket-main .title.title4 img {
    max-width: 88px;
  }
}
@media screen and (max-width: 1070px) {
  #ticket .ticket .ticket-main .title.title4 img {
    width: 8.2242990654vw;
  }
}
@media screen and (max-width: 570px) {
  #ticket .ticket .ticket-main .title.title4 img {
    width: 15.4385964912vw;
  }
}
#ticket .ticket .ticket-main .desc {
  color: #573710;
  font-size: 20px;
}
@media screen and (max-width: 360px) {
  #ticket .ticket .ticket-main .desc {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}
@media screen and (max-width: 1580px) {
  #ticket .ticket .ticket-main .desc {
    max-width: 80%;
    margin: 0 auto 50px;
  }
}

#access {
  position: relative;
  padding-top: 90px;
  padding-bottom: 30px;
}

.google-map {
  position: relative;
  margin-bottom: 43px;
}
.google-map .marker {
  position: absolute;
  top: 10%;
  left: 42%;
  width: 5vw;
  z-index: 20;
}
@media screen and (max-width: 1580px) {
  .google-map .marker {
    top: 5%;
    left: 43%;
    width: 10%;
  }
}

.se5-cha1 {
  position: absolute;
  bottom: -1.25vw;
  right: 3.3333333333vw;
  width: 11.6666666667vw;
}
@media screen and (max-width: 1070px) {
  .se5-cha1 {
    display: none;
  }
}

.se5-cha2 {
  position: absolute;
  bottom: 5.2083333333vw;
  right: 5.2083333333vw;
  width: 4.0104166667vw;
}
@media screen and (max-width: 1200px) {
  .se5-cha2 {
    display: none;
  }
}

.se5-cha3 {
  position: absolute;
  top: 10%;
  left: -20%;
  width: 17.34375vw;
  height: 11.875vw;
  overflow: hidden;
}
@media screen and (max-width: 1070px) {
  .se5-cha3 {
    top: -30%;
    left: 0;
  }
}
.se5-cha3 img {
  visibility: hidden;
}
.se5-cha3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 86.71875vw;
  height: 100%;
  background: url(../images/se5-cha3-steps.svg) no-repeat 0 0;
  background-size: 86.71875vw auto;
  -webkit-animation: tick-tock 4s steps(5, end) infinite;
          animation: tick-tock 4s steps(5, end) infinite;
}

@-webkit-keyframes tick-tock {
  to {
    -webkit-transform: translateX(-86.71875vw);
            transform: translateX(-86.71875vw);
  }
}

@keyframes tick-tock {
  to {
    -webkit-transform: translateX(-86.71875vw);
            transform: translateX(-86.71875vw);
  }
}
.location-infor {
  position: relative;
  max-width: 30.46875vw;
  margin: 0 auto;
  text-align: center;
}
.location-infor img {
  display: inline-block;
}
@media screen and (max-width: 1580px) {
  .location-infor {
    min-width: 320px;
  }
}
.location-infor span {
  color: black;
  font-size: 24px;
  line-height: 1.66;
  display: block;
  position: absolute;
  top: 3.28125vw;
  left: 10.4166666667vw;
  text-align: center;
}
@media screen and (max-width: 1580px) {
  .location-infor span {
    position: relative;
    top: auto;
    left: auto;
    font-size: 20px;
  }
}
@media screen and (max-width: 360px) {
  .location-infor span {
    font-size: 16px;
  }
}

.traffic {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media screen and (max-width: 1580px) {
  .traffic {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-row: 1fr 1fr;
  }
}
.traffic > .col {
  position: relative;
}
.traffic .group {
  margin: 60px 0;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 1580px) {
  .traffic .group {
    margin: 30px 0;
  }
}
.traffic .group + .group {
  margin-top: 100px;
}
@media screen and (max-width: 1580px) {
  .traffic .group + .group {
    margin-top: 50px;
  }
}
.traffic .group .line {
  margin: 30px 0;
}
.traffic .group p {
  color: #573710;
  font-size: 20px;
}
@media screen and (max-width: 360px) {
  .traffic .group p {
    font-size: 16px;
    line-height: 1.66;
  }
}
.traffic .group b {
  font-weight: normal;
  color: #007AA7;
}
.traffic .group-title {
  margin-bottom: 20px;
  text-align: center;
}
.traffic .group-title img {
  display: inline-block;
}
.traffic .list-table--title {
  color: #007AA7;
  font-size: 20px;
}
@media screen and (max-width: 360px) {
  .traffic .list-table--title {
    font-size: 16px;
    line-height: 1.66;
  }
}
.traffic .list-table {
  margin: 20px 0;
}
.traffic .list-table .list-table--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #573710;
  font-size: 20px;
}
@media screen and (max-width: 360px) {
  .traffic .list-table .list-table--row {
    font-size: 16px;
    line-height: 1.66;
  }
}
@media screen and (max-width: 570px) {
  .traffic .list-table .list-table--row {
    display: block;
  }
}
.traffic .list-table .list-table--row b {
  font-weight: normal;
  color: #007AA7;
}
.traffic .list-table .col {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: left;
}
.traffic .list-table .col:nth-child(1) {
  min-width: 150px;
  max-width: 150px;
}
.traffic .list-table .col:nth-child(1).lg {
  min-width: 170px;
  max-width: 170px;
}

#clients {
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #fff;
}
@media screen and (max-width: 1070px) {
  #clients {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.clients-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 1070px) {
  .clients-table {
    display: block;
  }
}
.clients-table h3 {
  color: #573710;
  font-size: 20px;
  border: 1px solid #573710;
  border-radius: 42px;
  line-height: 42px;
  width: 100%;
  max-width: 133px;
}
@media screen and (max-width: 1070px) {
  .clients-table h3 {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 360px) {
  .clients-table h3 {
    font-size: 16px;
    line-height: 44px;
  }
}
.clients-table .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0 15px;
}
@media screen and (max-width: 1070px) {
  .clients-table .item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .clients-table .item a {
    display: block;
    width: 100%;
  }
}
.clients-table .item:nth-child(1) {
  max-width: 150px;
}
@media screen and (max-width: 1070px) {
  .clients-table .item:nth-child(1) {
    max-width: 100%;
  }
}

.logo {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  -ms-grid-columns: 24% 10px 30% 10px 24% 10px 22%;
  grid-template-columns: 24% 30% 24% 22%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media screen and (max-width: 1070px) {
  .logo {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-row: 1fr 1fr;
    row-gap: 30px;
  }
}
.logo a {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 1070px) {
  .logo a {
    margin: 10px 0;
  }
}
.logo img {
  display: block;
}
@media screen and (max-width: 1070px) {
  .logo img {
    margin: 0 auto;
  }
}

#footer {
  width: 100%;
  padding: 35px 0 20px;
  background-color: #FFD62E;
  text-align: center;
}
#footer p.copyright {
  color: #573710;
  font-size: 24px;
  line-height: 1.66;
}
@media screen and (max-width: 1580px) {
  #footer p.copyright {
    font-size: 20px;
  }
}
@media screen and (max-width: 360px) {
  #footer p.copyright {
    font-size: 16px;
  }
}

#kv {
  position: relative;
  background: url(../images/bg.jpg) repeat 0 0;
  padding-top: 22px;
  min-height: 46.875vw;
  overflow: hidden;
}
#kv .inner {
  position: relative;
  height: 46.875vw;
  z-index: 20;
}
@media screen and (max-width: 1200px) {
  #kv .inner {
    width: 52.0833333333vw;
    height: 85vw;
  }
}
@media screen and (max-width: 570px) {
  #kv .inner {
    height: 105.2631578947vw;
  }
}
#kv .kv-bg {
  position: absolute;
  top: 1.1458333333vw;
  left: 7.2916666667vw;
  right: 7.2916666667vw;
  bottom: 0;
  background-color: #FFD62E;
  background-image: url(../images/kv-bg-mask.png);
  background-repeat: repeat;
  background-size: cover;
  z-index: 1;
}
@media screen and (max-width: 570px) {
  #kv .kv-bg {
    background-size: 1200px auto;
  }
}
#kv .kv-bottom-grass {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
#kv .kv-bottom-grass img {
  width: 100%;
}
#kv .kv-slogan {
  position: absolute;
  top: 4.4270833333vw;
  left: 0;
  width: 23.125vw;
  z-index: 10;
}
#kv .kv-slogan img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #kv .kv-slogan {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 41.6666666667vw;
  }
}
@media screen and (max-width: 570px) {
  #kv .kv-slogan {
    top: 5%;
    width: 100%;
  }
}
#kv .kv-slogan-txt {
  position: absolute;
  top: 17.0833333333vw;
  left: 1.4583333333vw;
  width: 20.0520833333vw;
}
#kv .kv-slogan-txt img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #kv .kv-slogan-txt {
    top: 25vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 41.6666666667vw;
  }
}
@media screen and (max-width: 570px) {
  #kv .kv-slogan-txt {
    top: 32%;
    width: 120%;
  }
}
#kv .kv-peo {
  position: absolute;
  bottom: 2.6041666667vw;
  right: -3.59375vw;
  width: 29.5833333333vw;
  max-width: 568px;
  z-index: 50;
}
#kv .kv-peo img {
  -webkit-animation: kvCha 3s ease infinite forwards;
          animation: kvCha 3s ease infinite forwards;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}
#kv .kv-cha1 {
  position: absolute;
  bottom: 4.53125vw;
  right: -9.6354166667vw;
  width: 10.15625vw;
}
#kv .kv-cha1 .kvPeo1 {
  -webkit-animation: kvCha1 3s ease infinite forwards;
          animation: kvCha1 3s ease infinite forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}
#kv .kv-cha2 {
  position: absolute;
  bottom: 5.7291666667vw;
  left: 50%;
  margin-left: 2.0833333333vw;
  width: 8.8541666667vw;
}
#kv .kv-cha2 .kvPeo2 {
  -webkit-animation: kvCha2 3s ease infinite forwards;
          animation: kvCha2 3s ease infinite forwards;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}
#kv .kv-cha2 .shadow {
  -webkit-animation: kvChaShadow 3s ease infinite forwards;
          animation: kvChaShadow 3s ease infinite forwards;
}
#kv .kv-cha3 {
  position: absolute;
  bottom: 1.3020833333vw;
  left: -7.1875vw;
  width: 14.4270833333vw;
}
#kv .kv-cha4 {
  position: absolute;
  bottom: 11.1979166667vw;
  left: 0;
  width: 21.6666666667vw;
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
}
#kv .kv-cha4 img {
  -webkit-animation: kvCha4 5s ease infinite;
          animation: kvCha4 5s ease infinite;
}
#kv .kv-cha5 {
  position: absolute;
  bottom: 17.3958333333vw;
  left: -11.4583333333vw;
  width: 7.0833333333vw;
}

@-webkit-keyframes kvCha1 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  18% {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  44% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -2px);
            transform: translate(0px, -2px);
  }
  55% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  55% {
    -webkit-transform: translate(0px, -2px);
            transform: translate(0px, -2px);
  }
  66%, 100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes kvCha1 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  18% {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  44% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -2px);
            transform: translate(0px, -2px);
  }
  55% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  55% {
    -webkit-transform: translate(0px, -2px);
            transform: translate(0px, -2px);
  }
  66%, 100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@-webkit-keyframes kvCha2 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  18% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  44% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -2px);
            transform: translate(0px, -2px);
  }
  55% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  55% {
    -webkit-transform: translate(0px, -2px);
            transform: translate(0px, -2px);
  }
  66%, 100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes kvCha2 {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  18% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  44% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -2px);
            transform: translate(0px, -2px);
  }
  55% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  55% {
    -webkit-transform: translate(0px, -2px);
            transform: translate(0px, -2px);
  }
  66%, 100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@-webkit-keyframes kvCha {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  18% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes kvCha {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  18% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@-webkit-keyframes kvCha4 {
  0%, 30%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  18% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    -webkit-filter: saturate(120%);
            filter: saturate(120%);
  }
}
@keyframes kvCha4 {
  0%, 30%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  18% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    -webkit-filter: saturate(120%);
            filter: saturate(120%);
  }
}
@-webkit-keyframes kvChaShadow {
  0%, 40%, 70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30%, 60% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
}
@keyframes kvChaShadow {
  0%, 40%, 70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30%, 60% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
}
@-webkit-keyframes eyeAniamtion {
  0%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  18% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
  }
}
@keyframes eyeAniamtion {
  0%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  18% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
  }
}
.kv-hidden {
  visibility: hidden;
}

.kv-animation svg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: initial;
  width: 100%;
  height: 100%;
}

#fix-btns {
  position: fixed;
  top: 4.1666666667vw;
  right: 1.5625vw;
  width: 12.7083333333vw;
  z-index: 200;
}
@media screen and (max-width: 1580px) {
  #fix-btns {
    top: 150px;
    right: 0px;
    width: 180px;
  }
}
@media screen and (max-width: 570px) {
  #fix-btns {
    top: unset;
    bottom: 30px;
    width: 120px;
  }
}
#fix-btns a {
  display: block;
  width: 100%;
  -webkit-animation: lightOut 0.8s ease forwards;
          animation: lightOut 0.8s ease forwards;
}
#fix-btns a:hover img {
  -webkit-animation: light 0.8s ease infinite alternate;
          animation: light 0.8s ease infinite alternate;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFD62E;
  z-index: 999999999;
}
#loading .content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  width: 150px;
  height: auto;
}
#loading .content img {
  margin-bottom: 20px;
}
#loading span {
  font-size: 20px;
  text-align: center;
  display: block;
}

@-webkit-keyframes light {
  0% {
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-filter: saturate(150%);
            filter: saturate(150%);
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
}

@keyframes light {
  0% {
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-filter: saturate(150%);
            filter: saturate(150%);
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
}
@-webkit-keyframes lightOut {
  to {
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes lightOut {
  to {
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.bubble-tea {
  position: relative;
}
.bubble-tea:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200%;
  height: 100%;
  background: url(../images/se1-bubble-tea.svg) repeat-x 0 0;
  background-size: contain;
  z-index: 1;
}
.bubble-tea .size {
  position: relative;
  z-index: -1;
  visibility: hidden;
}

.bubble {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.bubble-item {
  -webkit-animation: bubbleWave 2s linear infinite alternate;
          animation: bubbleWave 2s linear infinite alternate;
}
.bubble-item:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.bubble-item:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.bubble-item:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.bubble-item:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.bubble-item:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.bubble-item:nth-child(6) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.bubble-item:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.bubble-item:nth-child(8) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.bubble-item:nth-child(9) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.bubble-item:nth-child(10) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50% {
    -webkit-transform: translateX(-48%);
            transform: translateX(-48%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50% {
    -webkit-transform: translateX(-48%);
            transform: translateX(-48%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes peoBubble {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes peoBubble {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bubbleWave {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  50% {
    -webkit-transform: translateY(-20px) scale(1.01);
            transform: translateY(-20px) scale(1.01);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
@keyframes bubbleWave {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  50% {
    -webkit-transform: translateY(-20px) scale(1.01);
            transform: translateY(-20px) scale(1.01);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
#modal-ticket {
  max-width: 1640px;
  width: 85%;
  display: none;
}
@media screen and (max-width: 570px) {
  #modal-ticket {
    width: 80%;
  }
}

.modal-content {
  padding: 3.125vw;
  background-color: #FFD62E;
}
@media screen and (max-width: 1200px) {
  .modal-content {
    padding: 40px;
  }
}
@media screen and (max-width: 1070px) {
  .modal-content {
    padding: 30px;
  }
}
.modal-content .modal-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 50px;
  min-height: 50vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .modal-content .modal-main {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 570px) {
  .modal-content .modal-main {
    min-height: 200px;
  }
}

.ticket-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 1070px) {
  .ticket-group {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 60px 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 60px;
    width: 100%;
    max-width: 100%;
  }
  .ticket-group > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .ticket-group > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .ticket-group > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .ticket-group > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}
@media screen and (max-width: 570px) {
  .ticket-group {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 90%;
  }
  .ticket-group > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .ticket-group > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .ticket-group > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .ticket-group > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .ticket-group > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
.ticket-group a {
  display: block;
  position: relative;
  padding-bottom: 120px;
  padding-top: 100px;
  text-align: center;
}
.ticket-group a img {
  display: inline-block;
}
@media screen and (max-width: 1070px) {
  .ticket-group a {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 570px) {
  .ticket-group a {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.ticket-group a .hover {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
      -ms-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  width: 90%;
  max-width: 120px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1070px) {
  .ticket-group a .hover {
    bottom: -20px;
    width: 100px;
  }
}
@media screen and (max-width: 570px) {
  .ticket-group a .hover {
    display: none;
  }
}
.ticket-group a:hover .hover {
  -webkit-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  opacity: 1;
}